#image {
    background-image: url('../assets/image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 160vh;  
    /* margin-top: -100px; */
    /* z-index: 1; */
  }

  @media (max-width: 480px) {
    #image{
      height: 80vh;
      background-size: cover;
    }
  }